ASes:
  1-ff00:0:110:
    Borderrouter:
      br1: 1-ff00:0:110#1
      br2: 1-ff00:0:110#2
      br3: 1-ff00:0:110#3
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:111:
    Borderrouter:
      br1: 1-ff00:0:111-B
      br2: 1-ff00:0:111-A
      br3: 1-ff00:0:111-C
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:112:
    Borderrouter:
      br1: 1-ff00:0:112#495
      br2: 1-ff00:0:112#494
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:120:
    Borderrouter:
      br1: 1-ff00:0:120-A
      br2: 1-ff00:0:120-B
      br3: 1-ff00:0:120#5
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:121:
    Borderrouter:
      br1: 1-ff00:0:121#3
      br2: 1-ff00:0:121#4
      br3: 1-ff00:0:121#1
      br4: 1-ff00:0:121#2
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:122:
    Borderrouter:
      br1: 1-ff00:0:122#2
      br2: 1-ff00:0:122#1
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:130:
    Borderrouter:
      br1: 1-ff00:0:130-A
      br2: 1-ff00:0:130-B
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:131:
    Borderrouter:
      br1: 1-ff00:0:131#479
      br2: 1-ff00:0:131#480
      br3: 1-ff00:0:131#478
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:132:
    Borderrouter:
      br1: 1-ff00:0:132#2
      br2: 1-ff00:0:132#1
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  1-ff00:0:133:
    Borderrouter:
      br1: 1-ff00:0:133#1
      br2: 1-ff00:0:133#2
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:210:
    Borderrouter:
      br1: 2-ff00:0:210#453
      br2: 2-ff00:0:210#450
      br3: 2-ff00:0:210#451
      br4: 2-ff00:0:210#452
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:211:
    Borderrouter:
      br1: 2-ff00:0:211-A
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:212:
    Borderrouter:
      br1: 2-ff00:0:212#201
      br2: 2-ff00:0:212#200
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:220:
    Borderrouter:
      br1: 2-ff00:0:220#501
      br2: 2-ff00:0:220#502
      br3: 2-ff00:0:220#503
      br4: 2-ff00:0:220#500
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:221:
    Borderrouter:
      br1: 2-ff00:0:221#2
      br2: 2-ff00:0:221#3
      br3: 2-ff00:0:221#1
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
  2-ff00:0:222:
    Borderrouter:
      br1: 2-ff00:0:222#301
      br2: 2-ff00:0:222#302
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
