--- 
ASes:
  "1-ff00:0:110":
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
    Borderrouter:
      br1: "1-ff00:0:110#1"
      br2: "1-ff00:0:110#2"
  "1-ff00:0:111":
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
    Borderrouter:
      br1: 1-ff00:0:111#41
  "1-ff00:0:112":
    Intra-Topology: default.intra.topo
    Routing-Protocol: OSPF
    Borderrouter:
      br1: "1-ff00:0:112#1"